*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
img{
    user-select: none;
    cursor: default;
    pointer-events: none;
}
li{
    list-style-type: none;
}
#another{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.function{
    background-color: white;
    width: 690px;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.10),0 0px 0px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10);
}
.function span{
    font-size:15px;
    color:#777777;
}
.function span:nth-child(1){
    margin-left: 20px;
}
.function button{
    text-align: center;
    background-color: white;
    color: #777777;
    margin: auto 10px;
    height:25px;
    line-height: 25px;
    padding:0px 10px;
    border:0.5px solid transparent;
}
.function button:hover{
    border: 0.5px solid #ead7d7;
}
.function div:nth-child(3){
    visibility: hidden;
}
.function div:nth-child(2) button:nth-child(1){
    border: 0.5px solid #ead7d7;
}
.shallow1{
    margin-top: 1px;
    width:670px;
    height:6px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10);
}
.shallow2{
    margin-top: 1px;
    width:650px;
    height:6px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10),0 5px 5px rgba(0,0,0,0.10);
}